.banner {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdropFilter: 'brightness(70%)';
}

.banner h1 {
  color: white;
  font-size: 3em;
  text-align: center;
  text-shadow: 2px 2px #000;
}
